body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 3px 2px;
  height: 99vh;
  background-image: url('./assets/habbohotel.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
